* {
  margin: 0;
}

body {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100vw;
  /* border: 2px solid red; */
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.3em;
}

body main, body header {
  width: 65%;
  margin: 0 auto;
  background-color: ghostwhite;
  /* border: 2px solid green; */
  padding: 1em 2em;
}

body header hgroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgb(219, 216, 216);
  height: 1.5em;
  font-size: 1.3em;
  padding-left: 0;
  margin-top: 1.5em;
  gap: 2em;
  list-style: none;
}

a {
  text-decoration: none;
}
