* {
  margin: 0;
}

body {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 100vw;
  background-color: whitesmoke;
}

h1 {
  font-size: 68px;
  font-weight: 600;
}

body header h2 {
  font-size: 28px;
  font-weight: 500;
}

body main header h2 {
  font-size: 40px;
}

body main h3 {
  font-size: 25px;
  padding-bottom: 0.2em; 
  font-weight: 600;
}

body main, body > header {
  width: 65%;
  margin: 0 auto;
  background-color: ghostwhite;
  padding: 1em 2.5em;
}

p ,body main details summary{
  font-size: 21px;
  line-height: 1.3em;
  color: #444;
}


body header hgroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


body main article header {
padding-bottom: 1.5em;
}

body main article header p {
  font-size: 18px;
}

body header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgb(219, 216, 216);
  height: 1.5em;
  font-size: 20px;
  padding-left: 0;
  margin-top: 1.5em;
  gap: 2.5em;
  list-style: none;
}

body header a {
  text-decoration: none;
  color: rgb(50, 50, 104);
}

body main article section {
  margin: 2em 0em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgb(192, 189, 189);
}

body main figure {
  margin: 2em 0em;
}

body main footer {
  margin-top: 2em;
}

body main footer address p{
  font-size: 16px;
}

body > footer p {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

body main aside a {
  font-size: 18px;
  color: rgb(7, 7, 228);
}

body main aside h3 {
  font-size: 20px;
  font-weight: 600;
}

figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

figure img, figure figcaption{
  width: 80%;
  margin: auto;
}

figure img {
  border: 1px solid rgb(133, 131, 131);
  border-radius: 0.2em;
}

body dialog {
  position: fixed;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
  border-radius: 0.2em;
  padding: 1.5em;
  background-color: rgb(247, 244, 244);
}

body dialog form{
  top: 0%;
  right: 0%;
  position: fixed;
}